@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "capitana", sans-serif;
  }
}

.gradient-bg-section {
  background: hsla(235, 24%, 10%, 1);
  background: linear-gradient(75deg, hsla(235, 24%, 10%, 1) 0%, hsla(235, 24%, 10%, 1) 50%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(75deg, hsla(235, 24%, 10%, 1) 0%, hsla(235, 24%, 10%, 1) 50%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(75deg, hsla(235, 24%, 10%, 1) 0%, hsla(235, 24%, 10%, 1) 50%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#13141F", endColorstr="#13141F", GradientType=1 );
}

.truck-bg {
  z-index: -1;
  width:80vw;
  bottom:0;
}

@media screen and (min-width:800px) {
  .signupBtn {
    margin-left:-1rem;
  }
  .truck-bg {
    z-index: -1;
    width:80vw;
    bottom:-7rem;
  }
}